<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MyOffice.Properties.Settings>
            <setting name="BaseGreen" serializeAs="String">
                <value>11, 148, 68</value>
            </setting>
            <setting name="DarkGreen" serializeAs="String">
                <value>1, 121, 50</value>
            </setting>
            <setting name="DarkerGreen" serializeAs="String">
                <value>0, 92, 37</value>
            </setting>
            <setting name="LightGreen" serializeAs="String">
                <value>37, 169, 90</value>
            </setting>
            <setting name="LighterGreen" serializeAs="String">
                <value>70, 183, 116</value>
            </setting>
        </MyOffice.Properties.Settings>
    </userSettings>
</configuration>